<div id="nav" class="navbar navbar-default" role="navigation">
    <div id="navbar-header">
        <a class="navbar-brand" href="/" onclick="activeMenuItem('home')">物候监测系统</a>
    </div>
        {%if user_name%}
        <ul class="nav navbar-nav" id="menu">
            <li id="browser" class="{% if page_name == 'browser'%}active{%end%}">
                <a href="/browser" >图像预览</a>
            </li>
            <li class="dropdown nav-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user_name}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/">我的主页</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">退出</a> </li>
                </ul>
            </li>
	</ul>
        {%end%}
</div>
